/* Imported Raleway font from Google */
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global ------------------------------------- */
body {
    background: #000b39;
}

.g-page {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;

    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.g-header {
    background: #00061d;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;

    padding-left: 20px;
}

.g-main {
    padding-top: 20px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.g-nav {
    background: #ff8a1c;

    display: flex;
    flex-direction: column;
}

.g-text {
    padding-left: 20px;
}

/* Media Quaries ------------------------------------- */
@media screen and (max-width: 700px) {

}